numpy==1.26.4
requests==2.31.0
langchain
openai
python-dotenv
streamlit
python-dotenv==1.0.1
cohere==5.2.2
pypdf==4.2.0
PyPDF2==3.0.1
sentence-transformers
faiss-cpu
pinecone-client
scikit-learn==1.4.2
textstat==0.7.3
textblob==0.18.0
pandas==2.2.2
matplotlib==3.8.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
kiwisolver==1.4.5
pyparsing==3.1.2
youtube_dl
accelerate 
peft==0.10.0
datasets
trl
wandb
gradio
google-generativeai
streamlit
langchain_openai
langchain-community
spacy>=3.0.0
huggingface_hub
torch
peft
torch>=2.0.0
accelerate>=0.20.0
sentencepiece>=0.1.99
huggingface-hub>=0.14.0
unsloth
bitsandbytes>=0.41.0
requests
